$theme_color_dark: #272727;
$theme_color_light: #8a8a8a;
$theme_color_header: #333333;
$theme_color_action: #585858;
$theme_color_form: #5a5a5a;

$theme_color_sidebar: #2d2d2de6;
$theme_color_sidebar_primary: #575757;
$theme_color_sidebar_secondary: #7e7e7e;
$theme_color_sidebar_nested: #969696;

$theme_color_sidebar_hover: #5d5d5d;

$theme_color_primary: #4d5061;
$theme_color_primary_hover: #393e55;
$theme_color_secondary: #6a6c80;
$theme_color_secondary_hover: #4d5061;

$theme_color_validations: #ff4a4a;
$theme_color_border: 1px solid #757575;

$theme_color_phrase_font: white;
$theme_color_secondary_font: black;
