.trans-neg-90 {
	-webkit-transform: rotate(-90);
}
.trans-neg-180 {
	-webkit-transform: rotate(-180deg);
}
.trans-neg-270 {
	-webkit-transform: rotate(-270deg);
}
.trans-90 {
	-webkit-transform: rotate(90deg);
}
.trans-180 {
	-webkit-transform: rotate(180deg);
}
.trans-270 {
	-webkit-transform: rotate(270deg);
}
