.tr {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: left;
	border-radius: 20px;
	padding: 5px;
	td {
		border-right: 1px solid #a0a0a0;
		width: 100%;
	}
	td:last-child {
		border-right: 0px;
	}
	// th {
	// 	border-right: 1px solid white;
	// 	width: 100%;
	// }
	// th:last-child {
	// 	border-right: 0px;
	// }
}

tr {
	border: 1px solid #a0a0a0;
}

.hide-row {
	display: none !important;
}

.expanded-row-content {
	display: grid;
	grid-column: 1/-1;
	// grid-column: 1;
}
