@import './size/width.scss';
@import './size/height.scss';

@import './spacing/margin.scss';
@import './spacing/padding.scss';
@import './spacing/border_radius.scss';
@import './spacing/z_index.scss';
@import './spacing/transform.scss';
@import './spacing/line_height.scss';

@import './appearance/colors.scss';
@import './appearance/border_radius.scss';
@import './appearance/box_shadow.scss';
@import './appearance/font.scss';

@import './elements/button.scss';
@import './elements/table.scss';
@import './elements/containers.scss';
@import './elements/headings.scss';

@import './elements/select.scss';
@import './elements/list.scss';
@import './size/font-size.scss';
@import './alignment/text-align.scss';
@import './alignment/flex.scss';
@import './alignment/position.scss';

// Macro Styles

*:focus {
	outline: none;
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
	color: $theme_color_phrase_font;
}

textarea {
	resize: none;
}

input,
textarea {
	padding: 1rem;
	border: .1rem #c0c0c0 solid;
	border-radius: .5rem;
}

.footer-image {
	position: relative;
	img {
		width: 350px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0px 0px -50px;
		transform: translate(-35%, -18%);
		opacity: .2;
	}
}

.promo_code {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	padding: .5rem;
	background: $theme_color_primary;
	border-radius: 10px;
	border: $theme_color_border;
}

// .shipping_rates {
// 	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
// 	padding: .1rem;
// 	background: $theme_color_primary;
// 	border-radius: 10px;
// 	border: 1px solid #757575;
// }

.inactive {
	display: none;
}
.active {
	display: block;
}

.p_descriptions{
  font-family: $paragraph_font;
}

// h1,
// h2,
// h3 {
// 	font-family: $heading_font;
// }

// header {
// 	background-color: $theme_color_header;
// 	color: $theme_color_phrase_font;
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 15px;
// 	list-style-type: none;
// 	box-shadow: $bs_deep;
// 	position: fixed;
// 	right: 0;
// 	left: 0;
// 	z-index: 100;
// 	top: 0;
// 	margin-top: 22px;
// }

// .banner {
// 	background-color: $theme_color_primary;
// 	z-index: 101;
// 	height: 22px;
// 	width: 100%;
// 	font-size: 14px;
// 	box-shadow: $bs_deep;
// 	position: fixed;
// 	right: 0;
// 	left: 0;
// 	z-index: 100;
// 	top: 0;
// 	// display: flex;
// 	// justify-content: center;
// 	// align-items: center;

// 	// font-family: arial;
// }

/* Product Details */

.details {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 1rem;
}

.details-image {
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.details-image-img {
	border-radius: $br_small_containers;
	object-fit: cover;
	object-position: 50% 50%;
	width: 500px;
	height: 500px;
}

.details-info {
	flex: 1 1 30rem;
	li {
		margin-bottom: 1rem;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
}

.details-action {
	box-shadow: $bs_deep;
	border-radius: $br_medium_containers;
	background-color: $theme_color_action;
	padding: 1rem;
	flex: 1 1 30rem;
	li {
		margin-bottom: 1rem;
	}
	ul {
		list-style-type: none;
		padding: 0;
		li:last-child {
			display: flex;
			flex-direction: column;
		}
	}
}

.back-to-result {
	padding: 1rem;
}

.text-center {
	text-align: center;
}

/* Cart */

.cart {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
	align-items: flex-start;
}

.cart-list {
	flex: 3 1 40rem;
}

.cart-action {
	box-shadow: $bs_deep;
	border-radius: $br_small_containers;
	background-color: $theme_color_action;
	padding: 1rem;
}

.responsive_table {
	overflow-x: auto;
}

.cart-list-container {
	padding: 0;
	list-style-type: none;
	// margin-right: 10px;
	margin: 0;
	li {
		display: flex;
		justify-content: space-between;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: .1rem #c0c0c0 solid;
		img {
			max-width: 10rem;
			max-height: 10rem;
			border-radius: $br_medium_containers;
			margin-right: 10px;
		}
	}
}

.cart-list-container li:first-child {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.cart-image {
	flex: 1 1;
}

.cart-name {
	flex: 8 1;
}

.cart-price {
	flex: 1 1;
	font-size: 2rem;
	text-align: right;
}

.form_input {
	font-size: $font_size;
	border-radius: $br_small_containers;
	box-shadow: $bs_deep;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-top: 1rem;
	width: 100%;
}

.edit_product_textarea {
	resize: none;
	height: 15rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* forms */

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.form-container {
	display: flex;
	width: 28rem;
	flex-direction: column;
	max-width: 32rem;
	padding: 2rem;
	box-shadow: $bs_deep;
	background-color: $theme_color_form;
	border-radius: $br_small_containers;
	list-style-type: none;
	margin: 0 auto;
	li {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
}
.edit-form-container {
	display: flex;
	// width: 80rem;
	flex-direction: column;
	max-width: 32rem;
	padding: 2rem;
	box-shadow: $bs_deep;
	background-color: $theme_color_form;
	border-radius: $br_small_containers;
	list-style-type: none;
	margin: 0 auto;
	li {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
}

/* Product */

.products {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	li {
		list-style-type: none;
		padding: 0;
		flex: 0 1 34rem;
		margin: 1rem;
	}
}

.small_screen_product {
	display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	height: 100%;
	width: 100%;
	// text-align: center;
	border-radius: $br_small_containers;
	box-shadow: 0;
	transition: box-shadow 0.5s ease-out;
	padding: 15px;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	text-align: center;
	border-radius: $br_small_containers;
	box-shadow: 0;
	transition: box-shadow 0.5s ease-out;
	padding: 15px;
}

.product:hover {
	box-shadow: $bs_deep;
}
.small_screen_product:hover {
	box-shadow: $bs_deep;
}

/* Tooltip container */
.tooltip {
	position: relative;
	// display: inline-block;
	// border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 100%;
	// color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	bottom: 25%;
}
.tooltipoverlay {
	background: rgba(0, 0, 0, 0);
	border-radius: 10px;
	z-index: 99;
	transition: background-color 0.5s ease-out;
}

// .tooltipoverlay:after {
// 	content: '\A';
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	// background: rgba(0, 0, 0, 0.6);
// 	opacity: 0;
// 	transition: all 1s;
// 	-webkit-transition: all 1s;
// }
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.tooltipoverlay:hover {
	background: #0000001c;
	z-index: 99;
}

.product-name {
	font-size: 2rem;
	font-weight: bold;
}

.product-brand {
	font-size: 1.2rem;
	color: $theme_color_phrase_font;
}

.product-price {
	font-size: 2rem;
	font-weight: bold;
}

.product-image {
	max-width: 34rem;
	max-height: 34rem;
	border-radius: $br_small_containers;
	object-fit: cover;
	object-position: 50% 50%;
	width: 300px;
	height: 300px;
}

.product-rating {
	margin-bottom: 1rem;
}

/* Reviews */

ul.review {
	list-style-type: none;
	padding: 0;
}

.review li {
	margin-bottom: 2rem;
}

.review li > div {
	margin: 0.5rem;
}

/* Rating */

.rating span {
	color: $theme_color_phrase_font;
	font-size: 1.6rem;
	margin: 0.1rem;
}

.rating span:last-child {
	color: $theme_color_phrase_font;
	font-size: 1.4rem;
	margin-left: 5px;
}
.rating_textarea {
	height: 150px;
}

.rating_textarea a > .rating > span:last-child {
	color: $theme_color_phrase_font;
}

.content-margined {
	margin: 1rem;
}

// Table

.table {
	width: 100%;
	border-radius: $br_small_containers;
}

th {
	text-align: left;
}

.td {
	// background-color: #626262;
	padding: 10px;
}

// tbody > tr:nth-child(odd) {
// 	background-color: #f0f0f0;
// }

/* Checkout Steps */

.checkout-steps {
	display: flex;
	justify-content: space-between;
	width: 45rem;
	margin: 1rem auto;
}

.checkout-steps > div {
	border-top: .3rem #c0c0c0 solid;
	color: $theme_color_phrase_font;
	flex: 1 1;
	padding-top: 1rem;
}

.checkout-steps > div.active {
	border-top: .3rem white solid;
	color: $theme_color_phrase_font;
	/* border: 10px solid; */
	/* border-image-source: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)); */
	/* border-image-slice: 1; */
	/* border-width: .3rem 0 0 0; */
}

/* Place Order */

.placeorder {
	display: flex;
	flex-grow: wrap;
	padding: 1rem;
	justify-content: space-between;
	color: $theme_color_phrase_font;
}

.placeorder-info {
	flex: 6 1 60rem;
}

.placeorder-action {
	flex: 1 0 34rem;
	box-shadow: $bs_deep;
	border-radius: $br_small_containers;
	// background-color: #fcfcfc;
	padding: 2rem;
	background-color: transparent;
	margin-bottom: 10px;
}

.placeorder-info > div {
	box-shadow: $bs_deep;
	border-radius: $br_small_containers;
	// background-color: #fcfcfc;
	padding: 2rem;
	margin: 1rem;
	background-color: transparent;
}

.placeorder-info > div:first-child {
	margin-top: 0;
}

.placeorder-action > ul {
	padding: 0;
	list-style-type: none;
}

.placeorder-action > ul > li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.placeorder-action > ul > li:last-child {
	font-size: 2rem;
	font-weight: bold;
	color: $theme_color_phrase_font;
}

.placeorder-actions-payment > div {
	width: 100%;
}

/* Profile */

.profile {
	display: flex;
	flex-wrap: wrap;
}

.profile-info {
	flex: 1 1 30rem;
}

.profile-orders {
	flex: 3 1 60rem;
}

// Hover Dropdown

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	position: absolute;
	display: none;
	right: 0;
	padding: 1rem;
	list-style-type: none;
	z-index: 1;
	background-color: $theme_color_header;
	margin: 0;
	border-radius: $br_small_containers;
	box-shadow: $bs_deep;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

.dropdown-nav {
	display: inline-block;
	position: relative;
}

.dropdown-nav-content {
	position: absolute;
	display: none;
	left: 0;
	padding: 1rem;
	list-style-type: none;
	z-index: 1;
	background-color: $theme_color_header;
	margin: 0;
	border-radius: $br_small_containers;
	/* margin-top: 0.4rem; */
	box-shadow: $bs_deep;
}

.dropdown-nav-subcategory {
	display: inline-block;
	position: relative;
}

.dropdown-nav-subcategory-content {
	position: absolute;
	display: none;
	left: 268px;
	top: -5px;
	padding: 1rem;
	list-style-type: none;
	z-index: 1;
	background-color: $theme_color_header;
	margin: 0;
	border-radius: $br_small_containers;
	/* margin-top: 0.4rem; */
	// box-shadow: $bs_deep;
}
.dropdown-nav-nested {
	display: inline-block;
	position: relative;
}

.dropdown-nav-nested-content {
	position: absolute;
	display: none;
	left: 268px;
	top: -5px;
	padding: 1rem;
	list-style-type: none;
	z-index: 1;
	background-color: $theme_color_header;
	margin: 0;
	border-radius: $br_small_containers;
	/* margin-top: 0.4rem; */
	// box-shadow: $bs_deep;
}

.dropdown-nav:hover .dropdown-nav-content {
	display: flex;
	flex-direction: column;
}
.dropdown-nav-subcategory:hover .dropdown-nav-subcategory-content {
	display: flex;
	flex-direction: column;
}
.dropdown-nav-nested:hover .dropdown-nav-nested-content {
	display: flex;
	flex-direction: column;
}

// Shipping Rates

.shipping_rates {
	box-shadow: $bs_deep;
	font-size: 1.5rem;
	padding: .75em 2em 0.55em 1em;
	background: $theme_color_secondary;
	color: $theme_color_phrase_font;
	border: 0;
	// position: relative;
	border-radius: 10px;
	transition: all .5s ease;
	font-family: "phrase_font";
	border-radius: 10px 0 0 10px;
}

.select-label {
	margin-right: 5px;
}

.custom-select-shipping_rates {
	// position: absolute;
	top: 0;
	right: 0;
	display: block;
	background: $theme_color_primary;
	height: 100%;
	width: 8rem;
	color: $theme_color_phrase_font;
	font-family: 'phrase_font';
	// pointer-events: none;
	padding: 1rem;
	border-radius: 0 10px 10px 0;
	border: 0;
}
.custom-select-shipping_rates:hover {
	background-color: $theme_color_primary_hover;
}

.custom-select-shipping_rates::before,
.custom-select-shipping_rates::after {
	--size: .4em;

	content: '';
	// position: absolute;
	width: 0;
	height: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Stripe

.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	// background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	// border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 15px;
	background-color: $theme_color_secondary;
	border-radius: 10px;
	margin-bottom: 1rem;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

// Categories

.categories {
	padding: 0;
	list-style-type: none;
}

.categories a {
	display: flex;
	padding: 1rem;
}

.categories a:hover {
	background-color: #c0c0c0;
}

// Video

video {
	object-fit: cover;
}

// Pictures

.alt_pictures_hidden {
	display: none;
	flex-wrap: wrap;
}

.alt_pictures_shown {
	display: flex;
	flex-wrap: wrap;
}
.alt_pictures_shown_shown {
	display: none;
	flex-wrap: wrap;
}

.validation_text {
	font-size: 14px;
	justify-content: center;
	color: $theme_color_validations;
}

.glow_leds_text {
	font-size: 67px;
	margin: 0;
	text-align: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 17px;
	display: flex;
  font-family: $heading_font;
  // text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  text-shadow: 0 0 10px #fff, 0 0 30px ;
  
}

// .glow_leds_text_glow {
// 	font-size: 67px;
// 	margin: 0;
// 	text-align: center;
// 	justify-content: center;
// 	width: 100%;
// 	margin-bottom: 10px;
// 	margin-top: 17px;
// 	display: flex;
//   font-family: $heading_font;
//   opacity:1;

//   // transition: 0.3s opacity ease-in-out;
//   filter:blur(5px);
//   background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
// }

// .glow {
//   // font-size: 80px;
//   color: #fff;
//   text-align: center;
//   -webkit-animation: glow 1s ease-in-out infinite alternate;
//   -moz-animation: glow 1s ease-in-out infinite alternate;
//   animation: glow 1s ease-in-out infinite alternate;
// }

// @-webkit-keyframes glow_leds_text {
//   from {
//     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
//   }
//   to {
//     text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
//   }
// }

/* Home Page */

.home_page_divs {
	box-shadow: $bs_deep;
	border-radius: $br_large_containers;
	padding: 25px;
	margin-bottom: 25px;
}

/* Sidebar */

.sidebar {
	position: fixed;
	transition: all .5s;
	transform: translateX(-32rem);
	width: 30rem;
	background-color: $theme_color_sidebar;
	height: 100%;
	top: 129px;
	padding: 10px;
	z-index: 99;
}

.sidebar.open {
	transform: translateX(0px);
}

.sidebar_dropdown {
	position: relative;
}
.sidebar_dropdown_secondary {
	position: relative;
}

.sidebar_dropdown_nested {
	position: relative;
}

.sidebar_dropdown_container {
	overflow: hidden;
	height: auto;
	max-height: 0px;
	transition: all 0.5s;
	left: 0;
	list-style-type: none;
	background-color: $theme_color_sidebar_primary;
	margin: 0;
	width: 100%;
}

.sidebar_dropdown_secondary_container {
	overflow: hidden;
	height: auto;
	max-height: 0px;
	transition: all 0.5s;
	left: 0;
	list-style-type: none;
	background-color: $theme_color_sidebar_secondary;
	margin: 0;
	width: 100%;
}

.sidebar_dropdown_secondary_container:hover {
	max-height: 600px;
}
.sidebar_dropdown_nested_container {
	overflow: hidden;
	height: auto;
	max-height: 0px;
	transition: all 0.5s;
	left: 0;
	list-style-type: none;
	background-color: $theme_color_sidebar_nested;
	margin: 0;
	width: 100%;
}

.sidebar_dropdown_nested_container:hover {
	max-height: 600px;
}

.contact_dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 1rem;
}

.options {
	color: $theme_color_secondary_font;
}
.grey_option {
	color: gray;
}

// select option:first-child {
// 	color: rgb(7, 44, 7);
// }

/* Slide Show */

* {
	box-sizing: border-box;
}

/* The grid: Four equal columns that floats next to each other */

.img_column {
	float: left;
	width: 10%;
	padding: 10px;
}

/* Style the images inside the grid */

.img_column img {
	opacity: 0.8;
	cursor: pointer;
	height: unset;
	border-radius: $br_small_containers;
}

.img_column img:hover {
	opacity: 1;
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* The expanding image container */

.container {
	position: relative;
	display: none;
}

/* Search */

.search_input {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 1rem auto;
	max-width: 45rem;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: $br_small_containers;
	border: .1rem #c0c0c0 solid;
	font-size: $font_size;
	margin-right: 5px;
}

.search_input {
	padding: 1rem;
	border-radius: $br_small_containers;
	border: .1rem #c0c0c0 solid;
	font-size: 1.3rem;
	margin-right: 5px;
	height: 10px;
	width: 250px;
}

// Loading Gif

.loading_gif {
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0px 0px -50px;
}

.loading_png {
	height: 100px;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 49.7%;
	margin: -50px 0px 0px -50px;
}
.error_message_payment {
	z-index: 2;
	background: #9a4949;
	padding: 15px;
	border-radius: 20px;
	// font-size: 20px;
	position: fixed;
	width: 332px;
	top: 25%;
	left: 50%;
	margin-top: -50px;
	margin-left: -165px;
}
.error_message {
	// z-index: 2;
	background: #9a4949;
	// padding: 15px;
	border-radius: 10px;
	// font-size: 20px;
	// position: fixed;
	// width: 332px;
	// top: 25%;
	// left: 50%;
	// margin-top: -50px;
	// margin-left: -165px;
}

.payment_message {
	z-index: 2;
	background: $theme_color_header;
	padding: 15px;
	border-radius: 20px;
	// font-size: 20px;
	width: 332px;
	position: fixed;
	top: 25%;
	left: 50%;
	margin-top: -50px;
	margin-left: -165px;
}

// .payment_message {
// 	position: absolute;
// 	top: 60%;
// 	left: 0;
// 	background: white;
// 	padding: 20px;
// 	border-radius: 20px;
// 	margin: -50px 0px 0px -50px;
// 	text-align: center;
// 	width: 100%;
// 	margin-left: 10px;
// }
.payment_error_message {
	position: absolute;
	top: 70%;
	left: 0;
	margin: -50px 0px 0px -50px;
	text-align: center;
	width: 100%;
	margin-left: 10px;
}

// .strikethrough {
// 	position: relative;
// }
// .strikethrough:before {
// 	position: absolute;
// 	content: "";
// 	left: 0;
// 	top: 50%;
// 	right: 0;
// 	border-top: 1px solid;
// 	border-color: inherit;

// 	-webkit-transform: rotate(-5deg);
// 	-moz-transform: rotate(-5deg);
// 	-ms-transform: rotate(-5deg);
// 	-o-transform: rotate(-5deg);
// 	transform: rotate(-5deg);
// }

.iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
  height: 0;
  
  // max-width: 100rem;
  // max-height: 50rem;
}
.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  // max-width: 100rem;
  // max-height: 59rem;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.iframe-container-big {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
  height: 0;
  
  // max-width: 100rem;
  // max-height: 50rem;
}
.iframe-container-big iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 62%;
  // max-width: 100rem;
  // max-height: 59rem;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// // Carousel

// .embla {
// 	position: relative;
// 	// background-color: #f7f7f7;
// 	padding: 20px;
// 	max-width: 1000px;
// 	width: 1000px;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// .embla__viewport {
// 	overflow: hidden;
// 	width: 100%;
// }

// .embla__viewport.is-draggable {
// 	cursor: move;
// 	cursor: grab;
// }

// .embla__viewport.is-dragging {
// 	cursor: grabbing;
// }

// .embla__container {
// 	display: flex;
// 	user-select: none;
// 	-webkit-touch-callout: none;
// 	-khtml-user-select: none;
// 	-webkit-tap-highlight-color: transparent;
// 	margin-left: -10px;
// }

// .embla__slide {
// 	position: relative;
// 	min-width: 200px;
// 	padding-left: 10px;
// }

// .embla__slide__inner {
// 	position: relative;
// 	overflow: hidden;
// 	height: 320px;
// }

// .embla__slide__img {
// 	position: absolute;
// 	display: block;
// 	top: 50%;
// 	left: 50%;
// 	width: auto;
// 	min-height: 100%;
// 	min-width: 100%;
// 	max-width: none;
// 	transform: translate(-50%, -50%);
// 	padding: 10px;
// }

// .embla__button {
// 	outline: 0;
// 	cursor: pointer;
// 	background-color: transparent;
// 	touch-action: manipulation;
// 	position: absolute;
// 	z-index: 1;
// 	top: 50%;
// 	transform: translateY(-50%);
// 	border: 0;
// 	width: 30px;
// 	height: 30px;
// 	justify-content: center;
// 	align-items: center;
// 	fill: #bbbbbb;
// 	padding: 0;
// }

// .embla__button:disabled {
// 	cursor: default;
// 	opacity: 0.3;
// }

// .embla__button__svg {
// 	width: 100%;
// 	height: 100%;
// }

// .embla__button--prev {
// 	left: -30px;
// }

// .embla__button--next {
// 	right: -30px;
// }

.inner_content {
  font-family: $paragraph_font;
	li {
    margin: 10px 0;
    
		// box-shadow: $bs_deep;
	}
}

.products_list {
	ul {
		margin-left: 20px;
	}
}

.logo {
	width: 100%;
	height: auto;
}

.logo_2 {
	width: 100%;
	height: auto;
}

.logo_s {
	width: 100%;
	height: auto;
}

// ol {
// 	list-style: 'none';
// 	padding: 0;
// 	li {
// 		counter-increment: step-counter;
// 		list-style-position: inside;
// 	}
// 	li:before {
// 		content: counter(step-counter)". ";
// 	}
// 	li:before:first-child {
// 		margin-right: 10px;
// 	}
// }

.colored_caps {
	display: flex;
	flex-wrap: wrap;
	// gap: 10px;
	--multiplier: calc(92rem - 100%);
}

.colored_caps_item {
	// margin: 10px;
	min-width: 48%;
	max-width: 100%;
	width: 50px;
	border-radius: 20px;
	flex-grow: 1;
	flex-basis: calc(var(--multiplier) * 999);
}

.colored_caps_images {
	// margin: 10px;
	min-width: 48%;
	max-width: 100%;
	// width: 50px;
	border-radius: 20px;
}

.cart_items {
	display: flex;
	flex-wrap: wrap;
	// gap: 10px;
	--multiplier: calc(21rem - 100%);
}

// .cart_item {
// 	margin: 10px;
// 	min-width: 50%;
// 	max-width: 100%;
// 	border-radius: 20px;
// 	flex-grow: 1;
// 	flex-basis: calc(var(--multiplier) * 999);
// }

.csv-input {
	// font-size: 20px;
	// border-radius: 10px;
	input {
		font-size: 20px;
		border-radius: 20px;
	}
}

.csv-label {
}

.csv-reader-input {
}

#react-csv-reader-input {
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}
